.panel.panel-default

  .panel-heading
    .text-center
      %b Каталог

  %table.table.table-condensed.table-bordered
    %thead
      %tr
        %th Товар
        %th Вес
        %th Цена
        %th Наличие
    %tbody
      %tr
        %td Мягкий
        %td 3гр
        %td 1 500
        %td 2
      %tr
        %td Мягкий
        %td 5гр
        %td 2 000
        %td 1
      %tr
        %td Мягкий
        %td 10гр
        %td 5 000
        %td 0
