- content_for :js do
  = javascript_include_tag "http://js.pusherapp.com/2.1/pusher.js"
  = audio_tag("yo.mp3", id: 'audio_chat')

- if current_user.try(:admin)
  = render 'templates/chat_admin'
- else
  = render 'templates/chat_client'

-# Поздравляю друг, ты поддержал проект - "Жизнь без спайса и соли" - прочитай книгу "Мирный воин" или посмотри фильм "Процветание" - часть средств идет на благотворительность. Можешь оценить работу бота
