%h2 Отзывы
#formReview
  %form.form-horizontal{role: "form"}
    .form-group
      %label.col-sm-2.control-label{for: "inputEmail3"} Твое имя
      .col-sm-10
        %input#inputName.form-control{placeholder: "Имя"}/
    .form-group
      %label.col-sm-2.control-label{for: "inputPassword3"} Текст отзыва
      .col-sm-10
        %textarea.form-control#inputText{rows: "3", placeholder: "Отзыв"}
    .form-group
      .col-sm-offset-2.col-sm-10
        %a.btn.btn-danger#sendEbana{href: '#', type: "submit"} Оставить отзыв


.panel.panel-default
  .panel-heading drug tester Клиент RCs
  .panel-body
    %p  стаф бро как и обещал благодорю за отличный сервис и качество!!!!!5г реги найдено !)￼￼всем советую он лучший!

.panel.panel-default
  .panel-heading Krusty 
  .panel-body
    %p Магазин держит марку!


.panel.panel-default
  .panel-heading Bukin Начинающий лаборант
  .panel-body
    %p Есть такое---марку держит стопудов!!!


.panel.panel-default
  .panel-heading Milashqa Клиент RCs
  .panel-body
    %p Лучший магазин 100%.
    %p Вчера забрали очередное добро(ск),все с ума чуть не сошли￼.Отличное качество￼Магазин не перестаёт радовать!Молодцы!

.panel.panel-default
  .panel-heading kajdason Клиент RCs
  .panel-body
    %p Старый добрый стафф￼ Тот самый привкус бро.. Стараешься, на высоте!

.panel.panel-default
  .panel-heading Катя Демидова Клиент RCs
  .panel-body
    %p Зашла сегодня первый раз. на 1000р курева. получила пустой адрес. Очень печально, на другое расчитывала.... Жду решения вопроса!
    %p Вопрос решен! Проблема была в прочитание адреса . не совсем понятно было)) Оператор всё уточнил. Приехали забрали всё четко на 100%. Спс магазину! )) Качество ++++++++++++
    %p ОБЩЕНИЕ. - нормальное ( пошли на встречу) ))
    %p Клад _ 5 !!! 
    %p мир вам!!! )))


.panel.panel-default
  .panel-heading rabotn1k74
  .panel-body
    %p Привет.Мнение покупателей об ск :
    %p Дикая СК я вам скажу!!! Курнул с фольги пол колпака примерно, и охуел!!!!! Я думал сердце выскочит нахер.. это ладно, через это мы проходили))) никогда не засекал сколько длится действие того или инного вещ-ва. 2 Часа точно держит... но есть минус.. меня с неё мондражило пиздец жОстко!!! Никогда так раньше не трясло. Может лично на меня она так повлияла хер его знает. Сам тупанул так то... надо было дозировку узнать сначала... Курнул второй раз на след. день, где то 2/3 от того сколько в первый раз дул... сердце так же бешено колотилось но самого не трясло...
    %p Хорошо хоть что не трескаюсь, отъехал бы наверно￼
    %p Вес был в серебрянном запаянном зипе, это радует. Чистым весом взвешивать не стал, и так было видно, что заявленные 0.5 точно есть... 
    %p Сам больше употреблять не стал, пацанов приколол)) они её тож курили... остались довольны)) хотели поставить, но я их переубедил... живой друг же лучше мертвого￼ 
    %p В общем лично мне не вкатила ваша скорость... тупо сердцебиение учащается, усталость пропадает, а кайфа нет... эйфор в нынешних скоростях отсутствует напрочь... и это сука очень печально((((((((
    %p Вообще в очередной раз убедился, что скорость это не моё... но убеждаться не всегда так не прикольно как в этот раз￼￼￼
    %p пасибо, ТС!!! 
    %p Заклад 5
    %p Кол-во 5 
    %p Кач-во 5 (мнение друзей)


.panel.panel-default
  .panel-heading Maxxx4000
  .panel-body
    %p НАИРОВНЕЙШИЙ МАГАЗИН!!! НИКОГДА, повторю НИКОГДА за долгое время небыло проблемм, Всегда четкое описание, всегда все на месте!

.panel.panel-default
  .panel-heading DoctorFaust
  .panel-body
    %p забегал в четверг за 0,5 СК. всё как всегда ровно, оператор очень быстро дал мне адрес и я поехал за кладом. хотел ещё взять реги после того как заберу СК, но инет на мобиле накрылся и я не смог зайти в аську и киви.
    %p надеюсь что успею сегодня за регой.



.panel.panel-default
  .panel-heading Linoleum
  .panel-body
    %p Оператор выполняет свою работу на отлично, клады надежные, вес соответствует. Магазин достоен уважения!


.panel.panel-default
  .panel-heading DoctorFaust
  .panel-body
    %p ещё раз хочу сказать большое спасибо оператору. как всегда всё быстро и вкусно.
    %p брал вечером регу, но пока ходил искал, потерял где - то остатки СК. хреново(((
    %p пришёл домой, развёл 1к5 на своей любимой основе и даже перестал расстраиваться что СК про*рал


.panel.panel-default
  .panel-heading Kenteezloi Клиент RCs
  .panel-body
    %p Привет всем участникам данной ветки! Пару дней назад приобретал Тв у данного селлера!￼
    %p В количестве 12г. Оператор работает четко в штатном режиме,за что ему Respekt!
    %p Курьер выполняет свою роботу отлично.
    %p Качество Тв, по моему мнению,лучшее по городу. 
    %p P.S. Всем удачных и ровных движений!

.panel.panel-default
  .panel-heading dvigomir 12345v
  .panel-body
    %p На протяжении более полугода беру в этом ровном магазине тв. Всегда все на вышем уровне)описание понятные,оператор грамотный,вес всегда радует.все ровно,больше и сказать нечего)удачи вам ребята)

