= link_to 'Новый город', new_area_path, class: 'btn btn-default'
%hr
%table.table.table-bordered.table-hover
  %thead
    %tr
      %th Город
      %th
      %th
  %tbody
    - @areas.each do |area|
      %tr
        %td
          %a{href: ('/' + area.slug)}= area.title
        %td= link_to 'Редактировать', edit_area_path(area)
        %td= link_to 'Удалить', area, method: :delete, data: { confirm: 'Are you sure?' }
