.row
  .col-xs-3.scroll-eba
    = render 'dialogs/dialog/dialogs'
  .col-xs-6.scroll-eba
    = render 'dialogs/dialog/dialog' if @dialog.present?
  .col-xs-3.scroll-eba
    = render 'dialogs/dialog/fuck'
